<div class="ui-g">
    <div class="ui-g-3">
        <p-calendar [(ngModel)]="valueFecha" (onSelect)="selectedDate()" dateFormat="dd-mm-yy" [showIcon]="true">
        </p-calendar>
    </div>
    <div class="ui-g-3">
        <input type="button" pButton (click)="generateContainer(false)" value="Search Dumpster Locations" class="ui-button-secondary">
    </div>
    <div class="ui-g-3">
        <input type="button" pButton (click)="generateContainer(true)" value="simulate fill levels" class="ui-button-warning">
    </div>
    <div class="ui-g-3">
        <div class="ui-g-12">
                <input type="button" pButton (click)="createDailyOperation()" value="Create Operation" class="ui-button-info">
        </div>
        <div class="ui-g-12">
                <input type="button" pButton (click)="clusterStreets()" value="clusterStreets" class="ui-button-success" *ngIf="allowCluster">
        </div>
        <div class="ui-g-12">
            <input type="button" pButton (click)="callRouting()" value="Route vehicles" class="ui-button-info" *ngIf="allowCluster">
        </div>
    </div>
    <div class="ui-g-12">
        <div #map style="width:100%;height:600px"></div>
    </div>
</div>
