<div class="splash-screen" style="background: #ffffff;">
    <h1 style="font-size: 26px;
        display: block;
        text-align: center;
        padding: 50px 20px;
        font-weight: 300;
        font-family: 'Archivo Narrow', sans-serif;">Procesando...</h1>
    <!-- <div class="splash-loader-container">
        <svg id="loading" viewbox="0 0 100 80">
            <defs>
                <linearGradient id="gradient" x1="100%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" stop-color="#4383b8" />
                    <stop offset="100%" stop-color="#4aa06c" />
                </linearGradient>

                <clipPath id="rects">
                    <rect class="rect" id="rect1" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                    <rect class="rect" id="rect2" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                    <rect class="rect" id="rect3" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                    <rect class="rect" id="rect4" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                    <rect class="rect" id="rect5" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                    <rect class="rect" id="rect6" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                    <rect class="rect" id="rect7" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                </clipPath>
            </defs>
         
            <rect id="container" transform="translate(50) scale(0.707, 0.707) rotate(45)" x="0" y="0" width="100"
                height="100" fill="url(#gradient)" clip-path="url(#rects)">
            </rect>
        </svg>
    </div> -->

    <div class="splash-loader-container">
        <svg class="splash-loader" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="splash-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>

    </div>

</div>