/* You can add global styles to this file, and also import other style files */

.errorForm{
    color: red;
}
.button-download-table{
    float: right; 
    margin-top: -3%;
}
.button-agregar-table{
    float: left; 
    margin-top: -3%;
    margin-right: 3%;
}
.align-Moneda{
    text-align: right;
}    